<div class="container">
    <h2>Events</h2>
</div>


<figure class="col-md-12" id="map"></figure>


<div class="container">

    <div class="row">

        <div class="col-10 justify-content-right">



            {{#each allEvents}}
            <img src="{{pictureUrl}}" class="event-view" alt="{{name}} imagen">
            <div class="col-md-4">
                <a href="/edit/{{id}}'">
                    <h3><a href="/details/{{id}}">{{name}}</a></h3>
                </a>
                <h5>{{description}} {{genre}} </h5>
                <p>Duration {{duration}} mins</p>

            </div>

            <aside class="col-md-2 align-items-center space-between">
                <a class="btn  btn-outline-dark rounded-0 button-top" href="/edit/{{id}}">Editar</a>
                <a class="btn  btn-outline-danger rounded-0 button-down" href="/delete/{{id}}">Borrar</a>

            </aside>

            {{/each}}
            <a class="btn  btn-outline-dark rounded-0 button-top" href="/new-event">Crear evento</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script src="./javascripts/styles.js"></script>
<script src="./javascripts/map.js"></script>

{{!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=_________________&callback=initApp"></script> --}}