<div class="container">

    <h2>Events</h2>

    <div class="row">
        <figure class="col-md-12" id="map"></figure>
    </div>

    <div class="row col-md-12 justify-content-right">

        {{#each allEvents}}
        <div class="col-md-6">
            <img src="{{pictureUrl}}" class="event-view" alt="{{name}} imagen">
            <a href="/edit/{{id}}'">
                <h3><a href="/details/{{id}}">{{name}}</a></h3>
            </a>
            <h5>{{description}} {{genre}} </h5>
            <p>Duration {{duration}} mins</p>
            <a href="/edit/{{id}}">Editar</a>
            <a href="/delete/{{id}}">Borrar</a>

        </div>
        {{/each}}

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script src="./javascripts/styles.js"></script>
<script src="./javascripts/map.js"></script>

{{!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=_________________&callback=initApp"></script> --}}