<div class="container">


    <figure class="col-md-12 map"></figure>

    <div class="row col-md-12 justify-content-right">

        <h2>Details</h2>

        <div class="col-md-6">

            <h3>{{theEvent.name}}</h3>

            <h5>{{description}} {{genre}} </h5>
            <p>Duration {{duration}} mins</p>
            <p>{{date}}</p>
            <img src="{{pictureUrl}}" alt="Concert">
        </div>

        <a href="/events/"> Volver a eventos</a>

    </div>
</div>