<div class="container">

    <div class="row  justify-content-right">


        <div class="column">

            <h2>Details</h2>



            <h3>{{theEvent.name}}</h3>

            <h5>{{description}} {{genre}} </h5>
            <p>Duration {{duration}} mins</p>
            <p><a class="btn btn-outline-dark rounded-0 button-top" href="/streaming">Acceso al evento</a></p>
            <p><a href="/events/"> Volver a eventos</a></p>

            <img src="{{pictureUrl}}" alt="Concert">



        </div>


        <div class="column">
            <aside class="col-md-6">



            </aside>



        </div>

    </div>
</div>