<div class="container">

    <h2>Events</h2>

    <div class="row">
        <figure class="col-md-12" id="map"></figure>
    </div>

    <div class="row col-md-12 justify-content-right">

        {{#each allEvents}}
        <div class="col-md-6">
            <img src="{{pictureUrl}}" class="event-view" alt="{{name}} imagen">
            <a href="/events/{{id}}'">
                <h3>{{name}}</h3>
            </a>
            <h5>{{description}} {{genre}} </h5>
            <p>Duration {{duration}} mins</p>
            <p>{{date}}</p>
            <p>{{location.coordinates}}</p>
        </div>
        {{/each}}

    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script src="./javascripts/styles.js"></script>
<script src="./javascripts/directions.js"></script>
<script src="./javascripts/app.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDmun7W0Tdt5JO7ZyWRDO1GQjcMPnBpmM&callback=initApp"></script>